<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${'Restaurant: ' + restaurant.name}"/>
    <!-- Include Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Include Bootstrap JS and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <h1 class="mt-5"  th:text="${restaurant.name}" />
    <ul class="nav">
        <li class="nav-item">
            <a type="button" class="btn btn-primary" aria-current="page" th:href="${'/restaurants/' + restaurant.id + '/create-menu-item'}">Add Menu Item</a>
        </li>
    </ul>
    <ul class="list-group mt-3">
        <li th:each="item: ${restaurant.menuItems}" class="list-group-item">
            <div class="row">
                <div class="col-md-6">
                    <h5 th:text="${item.name}"/>
                    <p th:text="${item.description}"/>
                </div>
                <div class="col-md-6 text-right">
                    <span th:text="${'Price: ' + item.price}"/>
                </div>
            </div>
        </li>
    </ul>
</div>
</body>
</html>